<html>
    <head>
        <link rel="stylesheet" href="meucss.css">

    </head>
    <body>
        <h1>Flexbox Básico</h1>
        <h3>flex-direction row</h3>
        <div class="box-row">
            <div class="item">um</div>
            <div class="item">dois</div>
            <div class="item">tres</div>
        </div>
        <hr/>
        <h3>flex-direction column</h3>
        <div class="box-column">
            <div class="item">um</div>
            <div class="item">dois</div>
            <div class="item">tres</div>
        </div>
        <hr/>
        <h3>flex-direction row - reverse</h3>
        <div class="box-row-reverse">
            <div class="item">um</div>
            <div class="item">dois</div>
            <div class="item">tres</div>
        </div>
        <hr/>
        <h3>flex-direction column - reverse</h3>
        <div class="box-column-reverse">
            <div class="item">um</div>
            <div class="item">dois</div>
            <div class="item">tres</div>
        </div>
        <hr/>
        <h3>wrap-row</h3>
        <div class="box-wrap-row">
            <div class="item">um</div>
            <div class="item">dois</div>
            <div class="item">tres</div>
        </div>
        <hr/>
       <h3> wrap-column</h3>
        <div class="box-wrap-column">
            <div class="item">um</div>
            <div class="item">dois</div>
            <div class="item">tres</div>
        </div>
        <hr/>
        <h3> flex</h3>
        <div class="box-flex">
            <div class="item-one">um</div>
            <div class="item-two">dois</div>
            <div class="item-three">tres</div>
        </div>
        <hr/>
    </body>
</html>